body {
    width: 100%;
    background-color: #FDF5E6;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    position: relative;
    border: 1px solid #C0C0C0;
}

.header div {
    margin: 10px;
    display: inline-block;
}


.cover-photo-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-image: url('../image/background.png');
    background-size: 100% 100%;
}

.info-area {
    padding: 0 15px;
}

.profile-photo {
    width: 25%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #C0C0C0;
    cursor: pointer;
}

.social-media {
    margin: 10px 0;
    float: right;
    display: inline-block;
    position: relative;
}

.social-media a,
.social-media div {
    margin: 2px 10px 0 0;
    font-size: 30px;
}

.social-media i {
    color: #000;
}

.name-area {
    position: relative;
    top: -40px;
}

.name {
    font-size: 20px;
    color: #000;
}

.description {
    position: relative;
    top: -35px;
    line-height: 1.8;
    font-size: 15px;
    color: #000;
}

.addition {
    position: relative;
    top: -20px;
    font-size: 16px;
}

.addition a {
    margin-right: 10px;
    text-decoration: none;
    color: #8899A6;
}

.addition .link {
    color: #1CA1F2;
}

.addition .email {
    color: #1CA1F2;
}

.dark-mode-switch {
    margin-top: 15px;
}

.dark-mode-label {
    line-height: 2;
    font-size: 12px;
    cursor: pointer;
}

.tabs {
    margin-top: 15px;
}

.tabs div {
    padding: 5px 0;
    width: 49%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #8899A6;
    cursor: pointer;
    border-right: 1px solid #C0C0C0;
}

.tabs div:hover {
    color: #1CA1F2;
    border-bottom: 1px solid #1CA1F2;
}

.tabs .feature {
    border-right: none;
}

hr {
    border-bottom: 1px solid #C0C0C0;
}

.add {
    width: 50px;
}

footer {
    margin-bottom: 12px;
    text-align: center;
}

.copyright a {
    text-decoration: none;
    color: #8899A6;
}

/* work */
.work-wrapper {
    width: 100%;
}

.work-info {
    display: inline-block;
    position: relative;
    top: 12px;
}

.post-profile-photo {
    margin: 0 10px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
}

div.name,
div.account {
    display: inline-block;
    font-size: 15px;
}

.work-description {
    margin-top: 10px;
    margin-left: 74px;
    width: 80%;
}

.work-reference {
    display: block;
    font-size: 14px;
    color: #8899A6;
}

.hashtag {
    color: #1CA1F2;
}

.hide-work {
    display: none;
}

.work-cover {
    margin-top: 10px;
    margin-left: 74px;
    width: 80%;
    border-radius: 8px;
}

.social-panel {
    margin-top: 10px;
    margin-left: 74px;
    width: 80%;
}

.social-panel a {
    display: inline-block;
    width: 24%;
    text-decoration: none;
    color: #8899A6;
}

.icon-heart {
    color: #E0235E;
}

@keyframes beating {
    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@media(max-width: 768px) {
    .container {
        width: 100%;
        border: none;
    }

    .profile-photo {
        width: 30%;
    }

    .social-media div {
        width: 42px;
    }

    .name-area {
        margin-top: 20px;
    }

    .addition a {
        margin-right: 4px;
        font-size: 15px;
    }

    .feather {
        right: 10%;
    }

    /* work */
    .work-description {
        width: 75%;
    }

    .work-cover {
        width: 75%;
    }

    .social-panel {
        width: 75%;
    }

    .social-panel a {
        width: 22%;
    }
}

/* about timeline */
/* Timeline */
.intro *,
.intro *::before,
.intro *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
    background: #E5C79A;
    padding: 30px 0;
}

.container-timeline {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title-timeline {
    font-size: 1.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: #eee;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 200px;
    padding: 15px;
    background: #E5C79A;
    color: #444;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #E5C79A transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #E5C79A;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #E5C79A;
}

.timeline ul li div {
    visibility: visible;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    /* transform: translate3d(200px, 0, 0); */
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(200px, 0, 0);
}

/* in-view */
.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        transform: translate3d(-20px, 0, 0);
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
        transform: translate3d(0, 0, 0);
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #E5C79A transparent transparent;
    }
}